<script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "xxxx",
        authDomain: "xxxx.firebaseapp.com",
        databaseURL: "https://xxxx.firebaseio.com",
        projectId: "xxxx",
        storageBucket: "xxxx.appspot.com",
        messagingSenderId: "xxxx"
    };
    firebase.initializeApp(config);
</script>
